@media screen and (max-width: 780px) 
{
    /* header section */
    .nevlist,
     .icon .btn{
        background-color: aqua;
        display: none;
    }
    .bar{
        display: block;
    }
    .mobile-menu{
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: center;
        position: absolute;
        top: 25%;
        left: -100%;
        transform: translateX(-50%);
        width: 15rem;
        padding: 2rem;
        background-color: var(--pure_white);
        border: 1px solid var(--gold_finger);
        border-radius: 10%;
        box-shadow:
        rgba(0, 0, 0, 0.05) 8px 8px 8px 
        rgba(0, 0, 0, 0.05) 8px 8px 8px inset ;
        transition: all .3s ease-in-out;
    }
    .mobile-menu_ective{
        left: 50%;
        transform: translateX(-50%);
    }

    /* main section */
    h1{
        font-size: 3.6rem;
    }

    .btn_icon{
        gap:1rem;
    }
    /* SECTION 1 */
    .flex{
        gap: 1.2rem;
    }
    h2{
        font-size: 3rem;
    }
    .left_sec-2 {
        text-align: center;
    }
    .name_st{
        text-align: center;
    }
    
}